
main{
   margin: 100px;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, Main Content, Footer */
  min-height: 100vh;
}

header, footer {
  background-color: pink;
  color: white;
  padding: 10px;
  position: sticky;
  bottom: 0;
}

main {
  padding: 20px;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    background-color: aliceblue;
    color: pink;
}