#images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

img{
    width: 100%;
    filter: grayscale();
}
img:hover{
    filter: none;
}
button{
    border: none;
}