html{
    box-sizing: border-box;

}
*, *::before,*::after{
    box-sizing: inherit;
    /*scroll-behavior: smooth;*/
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
ul{
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    overflow-x: hidden;
    
}
main li {
    background: red;
    display: grid;
    place-items: center;
    font-size: 3rem;
    color: white;
    flex-shrink: 0;
    height: 60vh;
    width: 100vw;
}
main ul{
    justify-content: flex-start;
    gap: 0;
    overflow-x: hidden;
    transform: translateX(0);
    transition: transform 0.5 ease-in-out;
}
main li:first-of-type{
    background-color: blue;
}
main li:last-of-type{
    background-color: green;
}
main li:target{
opacity: 100;
}