html{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
header{
    background-color: antiquewhite;
    flex-grow: 1;
    margin: 3px;
    padding: 5px;
}
main{
    background-color: brown;
    flex-grow: 3;
    margin: 3px;
    padding: 5px;
}
footer{
    background-color: cadetblue;
    flex-grow: 1;
    position: sticky;
    bottom: 0;
    margin: 3px;
    padding: 5px;
}